<!DOCTYPE html>
<html>
  <head>
    <title>Peli IKER AITOR JUANK</title>
    <link href='http://fonts.googleapis.com/css?family=Oxygen:300,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>  
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
   
    <div class="header">
      <div class="container">
        <a href="/movies">
        <img src="http://s3.amazonaws.com/codecademy-content/courses/learn-rails/img/logo.svg" height="40">
        <h1>Peli IKER AITOR JUANK</h1>
        </a>
      </div>
    </div>

    <%= yield %>

  </body>
</html>
